<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.stoelzle.alfred.githubhelper</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>136F47F8-94CD-461F-A7C7-33D60815418A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>82C6130F-1CDF-4BAB-8C6C-FC3F42ADF147</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8BE104A4-4A67-48E4-A487-A2A18BFD3D08</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21DD0498-389F-4670-8706-28F978BAB522</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>195501A0-72E2-4674-A7D2-BFF067532527</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5A8FF9B0-089A-4237-AD28-0F4D2783A0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>E15B98A4-6B13-4C84-846E-DE7678A53984</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EBAAAC8A-8391-45A6-81E2-9C19A7AFBC65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>839BC038-8F78-4BE9-9C54-3BA8C37F4713</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>33C6AB9E-33FD-4C3F-B1F1-3C82F6A9BEB3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38368087-856E-44F8-B41A-20588D4A5CDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>495A0C80-DC6A-4FC6-93DE-0EA8A5B50060</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBAAAC8A-8391-45A6-81E2-9C19A7AFBC65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6252F3F2-2C7F-4ECD-B321-3977DA3DB649</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5A8FF9B0-089A-4237-AD28-0F4D2783A0F6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>49AC33A8-2C80-4AE7-93C8-CF85CA69B566</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7014B0F7-4F26-4F10-BEC3-C085391FD4B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>798CA64A-AAEB-47FA-844D-ED04AFF11F8E</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>33C6AB9E-33FD-4C3F-B1F1-3C82F6A9BEB3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9ED8B285-3149-4D6C-ACD8-57BF05F1AEFE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C06F046F-F0BE-4A93-978C-FA272827AFF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>161E3715-A402-4BB1-AC77-B1571379499D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>55FBD524-C78E-44A0-9430-6FB2D139729D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D23096D0-F957-4F0B-8C7E-D704B30107EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5A8FF9B0-089A-4237-AD28-0F4D2783A0F6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21DD0498-389F-4670-8706-28F978BAB522</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7014B0F7-4F26-4F10-BEC3-C085391FD4B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7EF8404-537B-445F-88C5-4B083FF15EF9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>82C6130F-1CDF-4BAB-8C6C-FC3F42ADF147</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55FBD524-C78E-44A0-9430-6FB2D139729D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>96310DD4-E32E-40FD-B8C0-6F6647DEE15A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A92AD440-D90F-493D-95CC-6B3D4E9DFA2C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C13BF3F-D333-42D1-8C3F-854EE93EDC9F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>495A0C80-DC6A-4FC6-93DE-0EA8A5B50060</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A6F8B9D6-BBAB-46B7-A776-5A01C3A2AD7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C13BF3F-D333-42D1-8C3F-854EE93EDC9F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A92AD440-D90F-493D-95CC-6B3D4E9DFA2C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>136F47F8-94CD-461F-A7C7-33D60815418A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C06F046F-F0BE-4A93-978C-FA272827AFF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38368087-856E-44F8-B41A-20588D4A5CDB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBAAAC8A-8391-45A6-81E2-9C19A7AFBC65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D736662-D263-4F5E-B11C-87CE03BC2D48</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Stefan Stölzle</string>
	<key>description</key>
	<string>Alfred GitHub Helper</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>@stoe/alfred-github-helper</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string>+</string>
				<key>url</key>
				<string>https://github.com/search?q={query}&amp;state=open&amp;type=Issues</string>
				<key>utf8</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>D23096D0-F957-4F0B-8C7E-D704B30107EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>%20</string>
				<key>replacestring</key>
				<string> </string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>55FBD524-C78E-44A0-9430-6FB2D139729D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>search\s(.*)</string>
						<key>outputlabel</key>
						<string>search</string>
						<key>uid</key>
						<string>8BE104A4-4A67-48E4-A487-A2A18BFD3D08</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>url\s(.*)</string>
						<key>outputlabel</key>
						<string>url</string>
						<key>uid</key>
						<string>E15B98A4-6B13-4C84-846E-DE7678A53984</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^https(.*)</string>
						<key>outputlabel</key>
						<string>https</string>
						<key>uid</key>
						<string>195501A0-72E2-4674-A7D2-BFF067532527</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>token\s(.*)</string>
						<key>outputlabel</key>
						<string>token</string>
						<key>uid</key>
						<string>839BC038-8F78-4BE9-9C54-3BA8C37F4713</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>void</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>136F47F8-94CD-461F-A7C7-33D60815418A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>search </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>82C6130F-1CDF-4BAB-8C6C-FC3F42ADF147</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>g</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/bookmarks.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Do things on GitHub</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>A92AD440-D90F-493D-95CC-6B3D4E9DFA2C</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>96310DD4-E32E-40FD-B8C0-6F6647DEE15A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>21DD0498-389F-4670-8706-28F978BAB522</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/token.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>run.js</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D736662-D263-4F5E-B11C-87CE03BC2D48</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>token </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>EBAAAC8A-8391-45A6-81E2-9C19A7AFBC65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>url </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>5A8FF9B0-089A-4237-AD28-0F4D2783A0F6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/setTeam.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>run.js</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F7EF8404-537B-445F-88C5-4B083FF15EF9</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>orgteam </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>7014B0F7-4F26-4F10-BEC3-C085391FD4B6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^token\s(.*)$</string>
						<key>outputlabel</key>
						<string>token</string>
						<key>uid</key>
						<string>6252F3F2-2C7F-4ECD-B321-3977DA3DB649</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^orgteam\s(.*)$</string>
						<key>outputlabel</key>
						<string>org/team</string>
						<key>uid</key>
						<string>798CA64A-AAEB-47FA-844D-ED04AFF11F8E</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^url\s(.*)$</string>
						<key>outputlabel</key>
						<string>url</string>
						<key>uid</key>
						<string>49AC33A8-2C80-4AE7-93C8-CF85CA69B566</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^team\s(.*)$</string>
						<key>outputlabel</key>
						<string>team</string>
						<key>uid</key>
						<string>9ED8B285-3149-4D6C-ACD8-57BF05F1AEFE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^member\s(.*)$</string>
						<key>outputlabel</key>
						<string>member</string>
						<key>uid</key>
						<string>161E3715-A402-4BB1-AC77-B1571379499D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>void</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>495A0C80-DC6A-4FC6-93DE-0EA8A5B50060</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A6F8B9D6-BBAB-46B7-A776-5A01C3A2AD7D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>@</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching data...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node lib/teams.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Find GitHub Teams &amp; Members</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9C13BF3F-D333-42D1-8C3F-854EE93EDC9F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>team </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>33C6AB9E-33FD-4C3F-B1F1-3C82F6A9BEB3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>38368087-856E-44F8-B41A-20588D4A5CDB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>member </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>C06F046F-F0BE-4A93-978C-FA272827AFF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Alfred GitHub</string>
	<key>uidata</key>
	<dict>
		<key>136F47F8-94CD-461F-A7C7-33D60815418A</key>
		<dict>
			<key>xpos</key>
			<integer>375</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>21DD0498-389F-4670-8706-28F978BAB522</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>33C6AB9E-33FD-4C3F-B1F1-3C82F6A9BEB3</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>480</integer>
		</dict>
		<key>38368087-856E-44F8-B41A-20588D4A5CDB</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>485</integer>
		</dict>
		<key>495A0C80-DC6A-4FC6-93DE-0EA8A5B50060</key>
		<dict>
			<key>xpos</key>
			<integer>340</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>55FBD524-C78E-44A0-9430-6FB2D139729D</key>
		<dict>
			<key>xpos</key>
			<integer>865</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>5A8FF9B0-089A-4237-AD28-0F4D2783A0F6</key>
		<dict>
			<key>xpos</key>
			<integer>905</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>7014B0F7-4F26-4F10-BEC3-C085391FD4B6</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>345</integer>
		</dict>
		<key>7D736662-D263-4F5E-B11C-87CE03BC2D48</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>82C6130F-1CDF-4BAB-8C6C-FC3F42ADF147</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>96310DD4-E32E-40FD-B8C0-6F6647DEE15A</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>9C13BF3F-D333-42D1-8C3F-854EE93EDC9F</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>A6F8B9D6-BBAB-46B7-A776-5A01C3A2AD7D</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>A92AD440-D90F-493D-95CC-6B3D4E9DFA2C</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>C06F046F-F0BE-4A93-978C-FA272827AFF2</key>
		<dict>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>D23096D0-F957-4F0B-8C7E-D704B30107EB</key>
		<dict>
			<key>xpos</key>
			<integer>975</integer>
			<key>ypos</key>
			<integer>20</integer>
		</dict>
		<key>EBAAAC8A-8391-45A6-81E2-9C19A7AFBC65</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>240</integer>
		</dict>
		<key>F7EF8404-537B-445F-88C5-4B083FF15EF9</key>
		<dict>
			<key>xpos</key>
			<integer>575</integer>
			<key>ypos</key>
			<integer>315</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/stoe/alfred-github-helper#readme</string>
</dict>
</plist>
